S3method(as.list,OptimResult)
S3method(as.list,TestResult)
export(ActionFunction)
export(BestConfiguration)
export(BestTestResult)
export(Configurations)
export(MaxDrawdown)
export(NAVSeries)
export(OptimizeBruteForce)
export(OptimizeGenetic)
export(OriginalPortfolio)
export(PortfolioSnapshots)
export(ReturnFunction)
export(ReturnSeries)
export(Sharpe)
export(TestResults)
export(TestStrategy)
export(TimeSeries)
export(TotalReturn)
export(Volatility)
export(print.OptimResult)
export(print.TestResult)
