S3method(as.list,TestResult)
export(ActionFunction)
export(MaxDrawdown)
export(NAVSeries)
export(PortfolioSnapshot)
export(PortfolioSnapshots)
export(ReturnFunction)
export(ReturnSeries)
export(Sharpe)
export(TestStrategy)
export(TimeSeries)
export(TotalReturn)
export(Volatility)
export(print.TestResult)
